In [14]:
import pandas as pd
import geopy.distance
import matplotlib as plt
import numpy as np

In [6]:
co2 = pd.read_excel (r'co2.xlsx')
no2 = pd.read_excel (r'no2.xlsx')
no = pd.read_excel (r'no.xlsx')
cam_ids = pd.read_excel (r'cam_ids.xlsx')
pm_2_5 = pd.read_excel (r'pm2.5.xlsx')
pm_10 = pd.read_excel (r'pm10.xlsx')

In [8]:
print('Co2: ')
co2.head()

Co2:

,DATE',ID_CAMS',00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,2019-01-01',6192,233.81799,229.32230,227.42313,219.82350,243.31866,267.41788,299.35608,324.42630,...,244.65617,242.93916,238.78931,228.89125,223.29376,234.91138,232.10161,227.79123,222.58517,215.58548
1,2019-01-01',6193,220.94206,224.53630,230.81827,237.80513,247.53349,273.50150,319.83313,370.46298,...,277.30066,275.71735,272.85922,260.69220,247.82285,241.99464,242.65709,240.61465,234.59937,227.54102
2,2019-01-01',6194,205.43085,217.55070,217.54306,219.14752,232.19714,257.57010,289.49374,328.43704,...,280.94559,266.11740,268.60004,247.74918,237.29749,235.41843,259.22479,232.72365,228.91663,225.53352
3,2019-01-01',6377,213.45760,228.90984,223.07506,221.68069,245.80739,268.12796,325.81613,342.96521,...,249.27005,252.03412,248.00113,234.76227,229.29916,252.82332,233.49461,230.41603,225.51079,219.45242
4,2019-01-01',6378,213.61369,218.78398,219.40958,221.92990,241.78207,271.63882,321.34949,351.38123,...,280.85202,283.58676,277.15088,264.69214,252.38327,247.51062,245.89342,242.90112,237.57341,232.16055

In [9]:
print('No2: ')
no2.head()

No2:

,'DATE','ID_CAMS',00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,2019-01-01',6192,13.980017,10.318384,7.463131,6.987891,8.111872,12.301242,16.371550,12.661986,...,7.444738,8.623218,9.002022,8.034611,7.323891,7.010328,6.311744,5.624536,4.886516,4.433172
1,2019-01-01',6193,13.698124,14.990359,15.093813,15.194304,16.386057,19.672064,25.677002,24.682671,...,17.560749,20.189880,20.362591,17.934490,15.800552,13.798406,12.472867,11.277826,9.652944,8.474051
2,2019-01-01',6194,10.204271,11.970837,12.701842,12.915111,14.074121,16.698015,21.710667,23.339476,...,17.366962,19.230307,18.688980,16.171505,13.962904,12.062380,11.013349,10.309733,8.674064,7.607053
3,2019-01-01',6377,10.904277,9.417352,8.648395,8.724756,10.171366,15.123204,18.528671,15.146491,...,11.108290,13.140848,12.877763,11.598921,10.516316,9.311137,8.408726,7.902400,6.714281,6.006932
4,2019-01-01',6378,12.990359,14.006044,13.659362,13.533595,15.011981,21.831203,28.517582,22.400160,...,17.769037,20.337204,20.110662,17.947762,15.607079,13.440498,12.479802,11.786987,9.897818,8.735188

In [10]:
print('No: ')
no.head()

No:

,'DATE','ID_CAMS',00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,2019-01-01',6192,0.169393,0.155381,0.146748,0.149829,0.198874,0.518476,1.212285,3.476423,...,0.810246,0.566942,0.559481,0.467026,0.383224,0.308830,0.278206,0.234110,0.142606,0.108741
1,2019-01-01',6193,0.248932,0.205866,0.230159,0.284984,0.365276,1.036199,2.194426,8.018688,...,2.177323,1.344432,0.984528,0.769418,0.584933,0.429367,0.386365,0.329607,0.195612,0.138613
2,2019-01-01',6194,0.141313,0.156945,0.158749,0.163539,0.304368,0.704105,1.648424,4.448644,...,2.548525,0.899362,0.754710,0.547573,0.426155,0.363613,0.334992,0.244171,0.186077,0.144269
3,2019-01-01',6377,0.451202,0.400931,0.349516,0.382684,0.590802,0.980904,2.493035,7.329028,...,2.079126,1.951555,1.903786,1.225999,0.737600,0.550628,0.475779,0.420592,0.377639,0.272436
4,2019-01-01',6378,0.582112,0.612332,0.600167,0.693248,0.977714,2.312426,3.919862,6.294577,...,4.311005,3.566939,3.231186,2.102467,0.989232,0.927173,0.827697,0.645827,0.535124,0.385114

In [11]:
print('Cam ids: ')
cam_ids.head()

Cam ids:

   ID посту          x          y  ID CAMS
0        28  50.444000  30.540000     6563
1        30  50.434000  30.432000     6562
2        43  50.411719  30.618949     6564
3        47  50.472938  30.508250     6378
4       108  50.362592  30.442744     6747

In [12]:
print('pm 2.5: ')
pm_2_5.head()

pm 2.5:

,DATE',ID_CAMS',00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,2019-01-01',6192,11.714356,11.732362,11.612226,10.763933,10.951051,11.699828,13.004950,12.379587,...,7.667426,7.596575,8.075013,7.837424,7.332302,7.180843,6.606873,6.057641,6.177329,6.058990
1,2019-01-01',6193,13.346999,13.686141,13.548043,12.896982,12.974633,13.672379,15.475791,15.566513,...,8.348609,8.411852,8.782799,8.785971,8.189415,7.836049,7.263245,7.148012,6.521686,6.336954
2,2019-01-01',6194,12.358634,12.547952,13.980294,13.308074,13.012832,13.836046,14.479198,15.597777,...,8.676738,8.103078,8.501282,8.835567,8.535420,7.850942,7.941671,6.737205,6.659190,6.530562
3,2019-01-01',6377,11.799749,12.341723,12.012091,11.372783,11.227167,12.694758,13.512632,13.325547,...,7.701589,7.642505,8.510462,8.222652,7.573602,7.638120,7.070432,6.676553,6.745422,6.401414
4,2019-01-01',6378,12.193746,13.320908,13.704476,12.667178,13.811369,14.089795,15.557291,15.367334,...,8.445015,8.642921,8.711971,8.312323,8.668263,8.407098,7.927304,7.706100,6.903901,6.572683

In [13]:
print('pm 10: ')
pm_10.head()

pm 10:

,DATE',ID_CAMS',00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,2019-01-01',6192,11.853447,11.947265,11.991467,11.632629,11.651216,12.298962,13.926763,13.292529,...,7.942982,7.914372,8.440818,8.217616,7.683418,7.560743,6.697425,6.136628,6.249007,6.499621
1,2019-01-01',6193,14.598501,13.860188,14.288509,13.902984,13.676447,15.493590,16.340363,16.226303,...,8.816551,9.553566,9.598605,9.213910,8.817785,8.497068,7.380910,7.410318,7.348700,6.999445
2,2019-01-01',6194,13.306933,14.110753,14.872319,14.277696,14.021089,14.304113,16.197060,16.221329,...,9.072688,8.936247,8.889370,9.242786,8.968819,8.598420,8.341848,6.824888,7.546970,7.254104
3,2019-01-01',6377,11.945192,12.479603,12.654488,11.977129,12.028798,13.301566,13.812934,13.612131,...,8.013809,8.109459,8.899261,8.554413,8.048410,7.772997,7.217258,6.890599,6.884175,6.965623
4,2019-01-01',6378,13.583931,14.461619,14.784383,13.227783,14.323950,14.991350,16.208088,16.765520,...,8.571898,8.774356,8.857082,8.688336,9.105868,8.839834,8.189281,8.222837,7.785257,7.301397

In [5]:
def calculate_distance_between_two_cameras_in_km(x1, y1, x2, y2):
    coords_1 = (x1, y1)
    coords_2 = (x2, y2)
    return geopy.distance.vincenty(coords_1, coords_2).km